Flask==3.0.3
python-dotenv==1.0.1

langchain==0.3.27
langchain-community==0.3.27
langchain-core==0.3.86
langchain-text-splitters==0.3.11

langchain-groq==0.3.7
groq==0.37.1

langchain-huggingface==0.1.2
sentence-transformers==3.0.1
transformers==4.57.6
torch==2.12.1

chromadb==1.0.15
pypdf==5.7.0

scikit-learn==1.9.0
numpy==2.4.6

requests==2.34.2